{% extends 'base.html' %}


{% block head %}
<title>KBS ASSIGNMENT 2</title>
{% endblock %}


{% block body %}
<table class="table table-striped" style="margin-top: 100px;">
    <thead>
        <tr style="background-color: #597f99;color: #fefefe">
            <th scope="col"></th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Reg Number</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mutsa</td>
            <td>Taringa</td>
            <td>R188319L</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Phillippa</td>
            <td>Moyo</td>
            <td>R187443A</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Fortunate</td>
            <td>Munemo</td>
            <td>R188843F</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Sailas</td>
            <td>Dube</td>
            <td>R195789D</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Tariro</td>
            <td>Chinoera</td>
            <td>R187274H</td>
        </tr>
    </tbody>
</table>
{% endblock %}
